* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../html/imagens/backgraud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #abdbe3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.navbar .navbar-brand {
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: left;
    transition: all 0.3s;
}
.navbar .navbar-brand:hover {
    color: white;
    transform: scale(1.2);
}
.logo img {
    height: 50px;
    width: auto;
    transition: all 0.3s;
}
.logo img:hover {
    transform: scale(1.2);
}
.navbar-nav {
    margin-left: 200px;
    padding: 0 20px;
}
.collapse {
    margin: 150px;
}
.collapse .navbar-nav .nav-item .nav-link {
    list-style: none;
    color: white;
    font-size: 20px;
    display: flex;
}
.header li a:hover {
    transform: scale(1.1);
}
.fa-regular {
    width: 45px;
    height: 45px;
    color: white;
}

.col:hover {
    color: rgba(253, 246, 32, 1);
}

.card-title {
    text-align: center;
    font-size: 27px;
}

.rol {
    overflow: hidden;
}

.card {
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    body {
        font-size: 12px;
    }
    .card-title {
        font-size: 16px;
    }
}
